<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<h2>Данные нового пользователя</h2>
<br>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <div>
        <label for="username">Введите имя пользователя: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
        <br/>
        <label for=surname>Введите фамилию: </label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
        <br/>
        <label for="age">Введите год рождения: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
        <br/>
        <label for="email">Введите почтовый адрес: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
        <br/>
        <label for="password">Введите пароль: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
        <br/>
        <div class="form-group row">
            <label class="col-4 col-form-label">Права доступа: </label>
            <div class="col-8">
                <th:block th:each="role: ${listRoles}">
                    <input type="checkbox" th:field="*{roles}"
                           th:text="${role.name}" th:value="${role.id}" class="m-2"/>
                </th:block>
            </div>
        </div>
        <input type="submit" value="Добавить"/>
    </div>
</form>
</body>
</html>