<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Демо Bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <style>
        form {
            margin: auto;
        }

        .form-label {
            display: block;
            text-align: center;
            margin-bottom: 10px;
        }

        .center {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <span style="color: white">
        <b><span th:text="${user.getEmail()}"></span></b>
        <span>with roles:</span>
        <span th:each="role :${listRoles}">
            <span th:text="${role.getName()}"></span>
        </span>
    </span>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выход"/>
    </form>
</nav>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            ssssdasds sddsdsdsdsdsdsadsadsadsadsadsa
            dsadsad
        </div>
        <div class="col-4">
dsdsffdsfdsfdsfdsf
        </div>
    </div>
<!--    <div class="row">-->
<!--        <div class="col-md-2">-->
<!--            <a href="#" class="btn btn-secondary btn-block active btn-lg" type="button">Button</a>-->
<!--&lt;!&ndash;            <button type="button" class="btn btn-primary">Primary</button>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="btn btn-secondary btn-block active" type="button">Button</a>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="col-md-10">-->
<!--            <h3 class="text-left">-->
<!--                Admin panel-->
<!--            </h3>-->
<!--            <ul class="nav nav-tabs">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" href="#">Users table</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">New user</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <table class="table table-bordered table-sm">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>ID</th>-->
<!--                    <th>Username</th>-->
<!--                    <th>Surname</th>-->
<!--                    <th>Year</th>-->
<!--                    <th>E-mail</th>-->
<!--                    <th>Role</th>-->
<!--                    <th>Edit</th>-->
<!--                    <th>Delete</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        1-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        TB - Monthly-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        01/04/2012-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        Default-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="table-active">-->
<!--                    <td>-->
<!--                        1-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        TB - Monthly-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        01/04/2012-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        Approved-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="table-success">-->
<!--                    <td>-->
<!--                        2-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        TB - Monthly-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        02/04/2012-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        Declined-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="table-warning">-->
<!--                    <td>-->
<!--                        3-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        TB - Monthly-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        03/04/2012-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        Pending-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="table-danger">-->
<!--                    <td>-->
<!--                        4-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        TB - Monthly-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        04/04/2012-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        Call in to confirm-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
</div>

Admin page
<br><br>
<a href="/admin/users">Просмотр всех пользователей</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>
