<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="https://jakarta.ee/xml/ns/jakartaee">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
</head>

<body>
<h2>Users</h2>

<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.getName()}">name</td>
        <td th:text="${user.getSurname()}">surname</td>
        <td th:text="${user.getAge()}">age</td>
        <td th:text="${user.getEmail()}">email</td>
        <td><a th:href="@{users/user-update/{id}(id=${user.id})}">Edit</a> </td>
        <td><a th:href="@{users/user-delete/{id}(id=${user.id})}">Delete</a> </td>
    </tr>
    </tbody>
</table>

<br>

<input th:type="button" th:value="Add"
       onclick="window.location.href = 'users/add'"/>

<br><br>
<a href="hello">home page</a>
<br><br>


</body>
</html>